<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cart Shopping</title>
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    @Styles.Render("~/bundles/panelcss")
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>
    <!-- Main content -->
    <section class="content">
        @RenderBody()
    </section>
    <!-- /.content -->
    <footer class="main-footer">
        <strong>Copyright &copy; @DateTime.Now.Year  </strong>
        Cart Shopping All rights reserved.

    </footer>


    @Scripts.Render("~/bundles/paneljs")
    @RenderSection("scripts", required: false)


    <script>
//    //solo de ejemplo, eliminar despues
//$.ajax({
//  url: 'https://randomuser.me/api/',
//  dataType: 'json',
//  success: function(data) {
//      console.log(data.results[0].name.first +" " + data.results[0].name.last);
//      $("#user-img").attr("src", data.results[0].picture.thumbnail);
//      $("#user-name").text(data.results[0].name.first + " " + data.results[0].name.last);

//  }
//});

    </script>
</body>
        
</html>