@using UI.Cart.Models
@model LoginViewModel
@{
    Layout = "~/Areas/Panel/Views/Shared/_LayoutVacio.cshtml";

    ViewBag.Title = "Iniciar sesión";
}

<div class="hold-transition login-page">
    <div class="login-box">

        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                   
                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }



                <p class="mb-1">
                    @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
                </p>
                <p class="mb-0">
                    @Html.ActionLink("Registrarse como usuario nuevo", "Register", null, new { @class = "text-center" })
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
