@model Entities.Cart.CartItem

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Estás seguro de Eliminar?</h3>
                    <br />

                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <div>
                     
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Products.ProductName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Products.ProductName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CartId)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CartId)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Quantity)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DateCreated)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DateCreated)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> |
                                @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "btn btn-outline-secondary" })
 
                            </div>
                        }
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->


        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

