@model IEnumerable<Entities.Cart.CartItem>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Listado </h3>
                    <br />

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="dataTableEjemplo" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Products.ProductName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CartId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateCreated)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Products.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CartId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateCreated)
                                    </td>
                                    <td>
                                        <i class="far fa-eye"></i>
                                        @Html.ActionLink("Detalle", "Details", new { id = item.ItemId })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->


        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
