@model IEnumerable<Entities.Cart.Products>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Listado  | @Html.ActionLink("Nueva ", "Create")</h3>
                    <br />

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="dataTableEjemplo" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Categories.CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProductName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImagePath)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UnitPrice)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Categories.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @if (!String.IsNullOrEmpty(item.ImagePath))
                                        {
                                            <img src="@Url.Content(item.ImagePath)" alt="Image" style="width:100px;height:auto" />
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.ImagePath)
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnitPrice)
                                    </td>
                                    <td>
                                        <i class="fas fa-edit"></i>
                                        @Html.ActionLink("Editar", "Edit", new { id = item.CategoryID }) |
                                        <i class="far fa-eye"></i>
                                        @Html.ActionLink("Detalle", "Details", new { id = item.CategoryID }) |
                                        <i class="fas fa-trash-alt"></i>
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.CategoryID })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->


        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

 